{% extends 'mailcraft/base.html' %}

{% import 'macros/form.html' as form %}

{% block breadcrumb_content %}
    <li class="active">{% link_for _("Mailcraft 404"), named_route='mailcraft.dashboard' %}</li>
{% endblock breadcrumb_content %}

{% block page_content %}
    <div class="module-content">
        <a href="{{ h.url_for('mailcraft.dashboard') }}" class="btn btn-default mb-3">
            <i class="fa fa-arrow-left"></i>
            {{ _("Back to dashboard") }}
        </a>

        <p>{{ _("Mail not found") }}</p>
    </div>
{% endblock page_content %}
