{% extends 'mailcraft/base.html' %}

{% import 'macros/form.html' as form %}

{% block breadcrumb_content %}
    <li>{% link_for _("Dashboard"), named_route='mailcraft.dashboard' %}</li>
    <li class="active">
        {% link_for "Mail #" ~ mail.id, named_route='mailcraft.mail_read', mail_id=mail.id %}
    </li>
{% endblock breadcrumb_content %}

{% block ap_content %}
    <div class="module-content">
        <a href="{{ h.url_for('mailcraft.dashboard') }}" class="btn btn-default mb-3">
            <i class="fa fa-arrow-left"></i>
            {{ _("Back to dashboard") }}
        </a>

        {% if mail.extras %}
            <div class="mailcraft-mail-meta">
                <h3>{{ _("Email meta") }}</h3>
                <table class="table table-bordered table-header">
                    <thead>
                        <tr>
                            <th>{{ _("Key") }}</th>
                            <th>{{ _("Value") }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in mail.extras.items() %}
                            <tr>
                                <td><b>{{ key }}</b></td>
                                <td>{{ value }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        <div class="mailcraft-mail-body">
            <h3>{{ _("Email body") }}</h3>

            {{ mail.message | safe}}
        </div>
    </div>
{% endblock ap_content %}
